# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
/bin/
Data/test.mv.db
Data/test.mv.db
xlsql.log
results/TQ1.xml
results/TQ4.xml
Data/test.mv.db
Data/test.trace.db
xlsql.log
Data/test.trace.db
Data/test.mv.db
xlsql.log
Data/test.trace.db
xlsql.log
xlsql.log
Data/TestCaseDataBases/SimpleQueryTests.mv.db
Data/TestCaseDataBases/SimpleQueryTests.trace.db
results/SimpleQueryTests/TripleJoin.xml
results/SimpleQueryTests/CCandTM.xml
results/SimpleQueryTests/REQandTM.xml
Data/AskWiseTesting/AW.mv.db
Data/AskWiseTesting/AW.trace.db.old
Data/TestCaseDataBases/H2forOracleTests.mv.db
Data/test.trace.db.old
